body {
  background-color: lightgray;
}

/* On screens that are 576px wide or less, apply this styling */
@media screen and (max-width: 576px) {
  .container {
    width: 95%;
  }
  /* Align card text */
  .card-text {
    text-align: justify;
  }

  /* Size bio image */
  #bio-image {
    height: auto;
    width: 150px;
  }
}
