/* Styling for navbar */
.navbar {
  /* margin-top: 16px; */
  background-color: #f392bd;
  border-bottom: 4px white;
}

/* Styling for name on navbar */
.navbar-brand {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
}

/* Styling for links */
.navbar-toggler-icon,
.nav-link,
.navbar-brand {
  color: white;

  font-weight: bold;
}

/* Creates a hover effect on the navbar menu options */
.hover:hover {
  color: #fdc9ee;
}
